<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <ul class='nav pull-right'>
        <li><a href='/topic'>main page</a></li>
        <li><a href='/profile'>profile</a></li>
      </ul>
      <a class="btn btn-navbar" id="responsive-sidebar-trigger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
  </div>
</div>
<p>Send message</p>
<form method="post" action={{ url_for('.add') }}>
<input type="text" name="content" placeholder="content">
<input type="text" name="title" placeholder="title">
<input type="text" name="receiver_id" placeholder="to_id">
<button type="submit">send</button>
</form>

<p>received mails:</p>
{% for r in receives%}
    <div>
    <a href = {{ url_for(".view", id = r.id) }} > {{ r.title }}</a>
    </div>
{% endfor %}
<p>sent mails:</p>
{% for s in sends%}
    <div>
    <a href = {{ url_for(".view", id = s.id) }} > {{ s.title }}</a>
    </div>
{% endfor %}
</body>
</html>